<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
     
    </startup>
  <connectionStrings>
    <add name="CoffeeRestaurentDb" connectionString="Data Source=VITUAN\TUANVI;Initial Catalog=CoffeeRestaurentDb;User ID=sa;Password=tuanvi1072"/>
  </connectionStrings>
</configuration>